---
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
          works {
          title
          name
          description
          collaborators
          technologies
          year
          liveUrl
          otherServices
          slug
          company
          mainImage
          images
          category {
            title
            slug
          }
        }
        }
      `,
    }),
  });

  const works = await response.json();
  const paths = works.data.works.map((work) => ({
    params: {
      slug: work.slug,
    },
    props: {
      work,
    },
  }));

  return paths;
}

const work = Astro.props.work;
---

<Layout
  title={work.title + ` | Avidu`}
  description={work.description}
  image={work.mainImage.url}
>
  <main>
    <!-- top section -->
    <section class="top">
      <h2 class="top_title">{work.name}</h2>
      <img src={work.mainImage.url} alt={work.title} />
      <h1 class="bottom_title">{work.title}</h1>
    </section>

    <!-- description -->
    <section class="">
      <p class="p-lg">
        {work.description}
      </p>
    </section>

    <!-- work list items -->
    <section class="details">
      <ul class="details_items_list">
        <li class="work_item">
          <p class="work_detail">
            <span class="left">Company:</span>
            <span class="right">{work.company}</span>
          </p>
        </li>

        <li class="work_item">
          <p class="work_detail">
            <span class="left">Year:</span>
            <span class="right">{work.year}</span>
          </p>
        </li>

        <li class="work_item">
          <p class="work_detail">
            <span class="left">Services:</span>
            <span class="right service_item_container"
              >{
                work.otherServices.map((others) => (
                  <span class="service_items">{others},</span>
                ))
              }</span
            >
          </p>
        </li>

        <li class="work_item">
          <p class="work_detail">
            <span class="left">Technologies:</span>
            <span class="right service_item_container"
              >{
                work.technologies.map((techs) => (
                  <span class="service_items">{techs},</span>
                ))
              }</span
            >
          </p>
        </li>

        <li class="work_item">
          <p class="work_detail">
            <span class="left">Collaborators:</span>
            <span class="right service_item_container"
              >{
                work.collaborators.map((collabs) => (
                  <span class="service_items">{collabs}</span>
                ))
              }</span
            >
          </p>
        </li>

        <li class="work_item">
          <p class="work_detail">
            <span class="left">URL:</span>
            <a href={work.liveUrl} target="_blank" class="right"
              >Open in New Tab🡥</a
            >
          </p>
        </li>
      </ul>
    </section>

    <!-- gellery images -->
    <section class="">
      {
        work.images?.map((imgs) => (
          <img
            class="images"
            src={imgs.url}
            width={imgs.width}
            height={imgs.height}
            alt={work.title}
          />
        ))
      }
    </section>
  </main>
</Layout>

<style>
  .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--orange);
  }

  .top_title {
    font-size: var(--h1);
    text-align: center;
  }

  .bottom_title {
    font-size: var(--p-lg);
    font-weight: normal;
    text-align: center;
    padding: 1rem;
    text-transform: none;
  }

  .work_detail {
    border-top: solid black 1px;

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .work_item {
    padding: 0.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .service_item_container {
    display: flex;
    flex-direction: column;
  }

  .right {
    text-align: end;
  }

  .details_items_list {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 768px;
  }

  .images {
    align-self: center;
    padding: 1rem;
  }
</style>
