---
import Layout from "../../../layouts/Layout.astro";
import Title from "../../../components/Title.astro";

export async function getStaticPaths() {
  const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
          websites {
            consider
            excerpt
            features
            idealFor
            slug
            technologies
            title
          }
        }
      `,
    }),
  });

  const websites = await response.json();

  const paths = websites.data.websites.map((website) => ({
    params: {
      slug: website.slug,
    },
    props: {
      website,
    },
  }));

  return paths;
}

const website = Astro.props.website;
---

<Layout title={website.title + ` | Avidu`}>
  <main>
    <!-- top section -->
    <section class="p1 top">
      <h1>{website.title}</h1>
      <p class="p-lg">
        {website.excerpt}
      </p>
    </section>

    <!-- consider section -->
    <section class="p1 details">
      <Title big="Consider" small="" />
      <p>{website.consider}</p>

      <ul>
        {
          website.features.map((feature) => (
            <li class="feature-item">{feature}</li>
          ))
        }
      </ul>
    </section>

    <!-- Ideal for -->
    <section class="p1 ideal">
      <Title big="Ideal for" small="" />
      <ul>
        {website.idealFor.map((ideal) => <li>{ideal}</li>)}
      </ul>
    </section>

    <!-- Technologies -->
    <section class="technologies p1">
      <Title big="Technologies" small="" />
      <ul>
        {website.technologies.map((tech) => <li>{tech}</li>)}
      </ul>
    </section>
  </main>
</Layout>

<style>
  .feature-item {
    border-bottom: 1px solid black;
    padding: 0.5rem;
    padding-left: 1rem;
  }
</style>
