---
import ServiceItem from "../components/ServiceItem.astro";
import Title from "../components/Title.astro";
import WhyItem from "../components/WhyItem.astro";
import ProcessItem from "../components/ProcessItem.astro";
import FaqItem from "../components/FaqItem.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
  },
  body: JSON.stringify({
    query: `
        {
          works {
            title
            slug
            company
            year
            liveUrl
            mainImage
            category {
              title
            }
          }
        }
      `,
  }),
});
const works = await response.json();
---

<Layout title="Welcome to Astro.">
  <main>
    <!-- hero section -->
    <section class="hero">
      <h1 class="hero-title">Website designer</h1>
      <div class="image_container">
        <img
          src="https://res.cloudinary.com/avidu/image/upload/v1695488712/hero.webp"
          alt="image of avidu"
        />
      </div>
      <h2 class="bottom_title">
        Front-end developer <span class="svg">
          <svg
            viewBox="0 0 512 512"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>arrow-down-right</title>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="add"
                fill="#000000"
                transform="translate(106.666667, 64.000000)"
              >
                <polygon
                  id="Shape"
                  points="320 234.666667 192 362.666667 161.706667 332.373333 238.293333 256 -1.42108547e-14 256 -1.42108547e-14 0 42.6666667 0 42.6666667 213.333333 238.293333 213.333333 161.706667 136.96 192 106.666667"
                >
                </polygon>
              </g>
            </g>
          </svg></span
        >
      </h2>
    </section>

    <!-- intro section -->
    <section class="intro">
      <h2>BETTER WEBSITES FOR YOUR NEXT BIG IDEA</h2>

      <video
        muted
        autoplay
        loop
        src="https://res.cloudinary.com/avidu/video/upload/v1696919001/ezgif.com-gif-to-webm_jnwvas.webm"
      ></video>

      <p class="p-lg">
        I build websites that are fast, SEO friendly, and looks unique(I think
        so) which cost only $0*. With those websites, you can sell or present
        your unique idea to your target audience.
      </p>
    </section>

    <!-- services section -->
    <section class="services">
      <Title big="services" small="what you get" />
      <p class="p-lg">
        There are few types of websites needs to be consider before deciding, if
        it match with your needs.
      </p>
      <ul>
        <ServiceItem slug="#" text="Business Websites" />
        <ServiceItem slug="#" text="E-commerce Websites" />
        <ServiceItem slug="#" text="Portfolio Websites" />
        <ServiceItem slug="#" text="Blog Websites" />
      </ul>
    </section>

    <!-- why me section -->
    <section class="why">
      <Title big="Why" small="Why choose me" />
      <p class="p-lg">
        If you needs a website, but not just another website? - In a world of
        most the sites look and feels the same, there are less chance to stand
        out from the competition.
        <br />
        <br />
         This is where custom design comes, each website I create based on your
        target audience not templates. So that your customer gets more tailored
        experience and there are more and more chance to engage with your brand.
      </p>

      <ul>
        <WhyItem
          title="fast websites"
          description="The importance of a fast website cannot be overstated in today's digital landscape. It directly impacts user experience, search engine rankings, and overall business success."
        />

        <WhyItem
          title="COST EFFECTIVENESS"
          description="Websites I build based on modern approaches like 'Jamstack'. Its purpose is to create fast and secure sites, other than it provides ways to get started with 0 cost. So you can invest all into your business's success."
        />

        <WhyItem
          title="EASE OF CHANGE"
          description="To change a text on your website - you don't have to go to the site and open a website builder. Instead, we can use a browser-based dashboard to manage not just the text but all of your content on the website."
        />
      </ul>
    </section>

    <!-- recent 3 projects -->
    <section class="projects">
      <Title big="Works" small="My recent works" />
      <p class="p-lg">
        Here's a list of website design, development, and other design-related
        works that have been done for clients and myself.
      </p>

      <ul>
        {
          works.data.works.map((work) => (
            <ProjectCard
              company={work.company}
              category={work.category.title}
              slug={work.slug}
              src={work.mainImage.url}
              year={work.year}
              alt={work.title}
              liveUrl={work.liveUrl}
              width={work.mainImage.width}
              height={work.mainImage.height}
            />
          ))
        }
      </ul>
    </section>

    <!-- the process -->
    <section class="process">
      <Title big="the.d5" small="the process" />
      <p class="p-lg">
        In the website development universe, all design processes have the same
        meanings(in most cases) but with different names. Same as mine. The main
        purpose of this process is to get to know you and your target audience
        better and have an organized workflow.
      </p>

      <ul>
        <ProcessItem
          title="define"
          number={1}
          description="The research process for understanding business goals and defining the target audience is a crucial step in effective web design. It lays the foundation for creating a website that aligns with the business's objectives and caters to the needs of its intended audience."
        />
        <ProcessItem
          title="DESCRIBE"
          number={2}
          description="The content creation process in web design is a structured approach to developing and delivering high-quality, relevant, and engaging content for a website. It involves understanding the target audience, aligning content with business goals, and optimizing it for both user experience and search engines."
        />
        <ProcessItem
          title="DESIGN"
          number={3}
          description="The design process in website development is a systematic approach to creating visually appealing, user-friendly, and effective websites. It involves translating the website's objectives, content, and user needs into an engaging and functional design."
        />
        <ProcessItem
          title="DEVELOP"
          number={4}
          description="The development process in website development is a systematic approach to building a functional and interactive website based on the design and specifications. It involves translating the design's visual elements and user interactions into working code."
        />
        <ProcessItem
          title="DEPLOY"
          number={5}
          description="The launch process in website development involves the final steps of preparing and releasing the website to the public. It's a critical phase that ensures a smooth transition from development to live deployment."
        />
      </ul>
    </section>

    <!-- Faqs -->
    <section class="faqs">
      <Title big="FAQS" small="What they ask" />
      <p class="p-lg">
        Here's what some clients asks about websites and designings. Any
        question you have related to our services; Don't hesitate to reach us.
      </p>
      <FaqItem
        number={1}
        question="How much will it const to develop my website?"
        answer="The cost of website development depends on various factors such as project complexity, features, design, and technology. But usaually costs around $500."
      />
      <FaqItem
        number={2}
        question="Will I be able to update my website content easilly?"
        answer="Yes, I can integrate a user-friendly Content Management System (CMS) like HygraphCMS, Sanity, or Contentful allowing you to easily update and manage your website's content without technical skills."
      />
      <FaqItem
        number={3}
        question="Will I have ownership of the website and its source code once the project is completed?"
        answer="Yes, upon project completion and final payment, you will have full ownership of the website and its source code unless otherwise specified in the contract."
      />
    </section>
  </main>
</Layout>

<style>
  /* --------------------Hero-------------------- */
  .hero {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    background-size: cover;
    background-color: var(--orange);
    justify-content: space-between;
  }

  .image_container {
    background-color: var(--beige);
    width: 50%;
    align-self: center;
  }

  .image_container img {
  }

  .svg svg {
    transform: rotate(-180deg);
    width: 80px;
    height: 80px;
  }

  .bottom_title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  /* --------------------intro-------------------- */
  .intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  video {
    pointer-events: none;
  }

  /* --------------------services-------------------- */
  .services {
  }

  .services ul {
    padding-top: 3rem;
  }
  /* --------------------why-------------------- */
  .why {
  }

  .why ul {
    padding-top: 3rem;
  }
  /* --------------------process-------------------- */
  .process {
  }

  .process p {
    padding-bottom: 3rem;
  }

  /* --------------------project-------------------- */
  .projects {
  }

  /* --------------------faq-------------------- */
  .faqs {
  }

  .faqs p {
    padding-bottom: 3rem;
  }
</style>

<script></script>
