---
import { Image } from "astro:assets";

interface Props {
  company: string;
  year: number;
  category: string;
  liveUrl: string;
  slug: string;
  src: string;
  alt: string;
  width: number;
  height: number;
}

const { company, year, category, liveUrl, slug, src, alt, width, height } =
  Astro.props;
---

<li>
  <div class="content">
    <h3>{company}</h3>
    <p>{year}</p>
    <span class="category">{category}</span>
    <br />
    <span class="links">
      <a href={liveUrl} target="_blank">Live</a>
      <a href={`/projects/${slug}`}>Case Study</a>
    </span>
  </div>
  <div class="image">
    <img
      src={src}
      alt={alt}
      width={width}
      height={height}
      style="height: 100%; object-fit: cover;"
    />
  </div>
</li>

<style>
  .tags {
    display: flex;
    flex-direction: column;
  }

  li {
    border-top: solid black 1px;
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .image {
    padding: 0.5rem 0 0.5rem 0;
    align-self: center;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
  }
</style>
