---
import { Image } from "astro:assets";

interface Props {
  company: string;
  year: number;
  category: string;
  liveUrl: string;
  slug: string;
  src: string;
  alt: string;
}

const { company, year, category, liveUrl, slug, src, alt } = Astro.props;
---

<li>
  <div class="content">
    <h3>{company}</h3>
    <p>{year}</p>
    <ul class="tags">
      <li>{category}</li>
    </ul>
    <a href={liveUrl} target="_blank">Live</a>
    <a href={`/projects/${slug}`}>Case Study</a>
  </div>
  <div class="image">
    <img
      src={src}
      alt={alt}
      style="height: 100%; width: 100%; object-fit: cover;"
    />
  </div>
</li>

<style>
  .tags {
    display: flex;
    flex-direction: column;
  }

  li {
    border-top: solid black 1px;
  }
</style>
