---
import ProjectCard from "../../components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro";

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
  },
  body: JSON.stringify({
    query: `
        {
          works {
            title
            name
            slug
            company
            year
            liveUrl
            mainImage
            category {
              title
              stage
            }
          }
        }
      `,
  }),
});
const works = await response.json();
---

<Layout
  title="Projects | Avidu"
  description="Here you can find a list of personal and commercial website design and development project i have done so far"
>
  <main>
    <section class="top">
      <h1>Projects</h1>
      <p class="p-lg">
        Here's a list of a personal and commercial works I have done. Which
        includes Web designs, Web developments, Brandings, and other type of
        designs.
        <br />
        <br />
         If you like to work with me to build your personal or business website,
        just reach me out. I can send you a free quote as regarding to your
        needs.
      </p>
    </section>

    <section class="">
      <ul>
        {
          works.data.works.map((work) => (
            <ProjectCard
              company={work.name}
              category={work.category.title}
              slug={work.slug}
              src={work.mainImage.url}
              year={work.year}
              alt={work.title}
              liveUrl={work.liveUrl}
              width={work.mainImage.width}
              height={work.mainImage.height}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  /* top */
  .top {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--orange);
  }
</style>
